#div_main {
    background-color: snow;
}

.nav_head {
    background-color: #3c3c3c;
    height: 50px;
}

.comment-title {
    font-size: 14px;
    font-weight: bold;
}

.comment-detail {
    font-size: 8px;
    float: right;
    color: #777777;
}

.comment-text {
    color: #262626;
    font-weight: 500;
}

.comment-button {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.film-title {
    font-weight: bold;
    font-size: 16px;
}

.custom_hr {
    margin: 2px;
}

.audio {
    /*float: right;*/
}

.head_navigation_2 {
    margin-bottom: 30px;
}

.article {
    color: rgba(15, 15, 15, 0.89);
    font-size: 16px;
}

.article_title {
    font-size: 24px;
    font-weight: bold;
}

.nav_user a {
    cursor: pointer;
    text-decoration: none;
}

.nav_user img {
    border-radius: 2px;
    margin-bottom: 5px
}


.nav_head ul {
    background-color: #3c3c3c;
}

.nav_head .dropdown-menu a{
    color: rgba(215, 215, 216, 0.89);
}

.nav_head .dropdown-menu a:hover {
    background-color: #505050;
    color: rgba(246, 246, 247, 0.89);
}

.panel-group a {
    text-decoration: none;
}

.head_portrait_middle {
    width: 64px;
    height: 64px;
    border-radius: 5px;
}

.side_nav_a {
    background-color: rgba(234, 234, 235, 0.89);
}

